---
title: Presentations
---

<div class="reveal">
  <div class="slides">
    <section class='title-on-image'>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <h5>A title goes here</h5>
            <p class="text-left text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorem atque quae rerum, veniam praesentium. Quas delectus impedit accusantium nostrum eum quae quasi consequatur, incidunt hic, provident excepturi saepe nam.</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= image_tag "http://placehold.it/800x496", class: "img-rounded" %>
          </div>
        </div>
      </div></section>
    <section class="title-on-video">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class"text-left">Watch this video?</p>
          </div>
        </div>
        <div class="row">
           <div><video controls src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4"></video></div>
        </div>
      </div></section>
    <section class"text-and-text">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-6">
            <h5 class='text-left '>title text</h5>
            <p class="text-column">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo asperiores voluptas nihil deserunt veniam, incidunt, explicabo eligendi necessitatibus maxime delectus minima saepe, molestiae, laboriosam iusto quibusdam porro perspiciatis inventore voluptatum!</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-6">
            <h5 class=''>title text</h5>
            <p class="text-column" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo asperiores voluptas nihil deserunt veniam, incidunt, explicabo eligendi necessitatibus maxime delectus minima saepe, molestiae, laboriosam iusto quibusdam porro perspiciatis inventore voluptatum!</p>
          </div>
        </div>
      </div></section>
  </div>
</div>


<div>
  <h5></h5>
</div>
