---
title: Outreach
---
<a class="demo-link" target="_blank" href="http://www.algolia.com">Algolia</a>

<div class="reveal">
  <div class="slides">
    <section class="title-on-video">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class"text-left">Watch this video</h2>
          </div>
        </div>
        <div class="row">
           <iframe src="https://drive.google.com/a/algolia.com/file/d/0B9RNssOJVWXmYnhfbU9FVUlSTms/preview" width="640" height="480"></iframe>
        </div>
      </div>
    </section>
  </div>
</div>

 <script>
  Reveal.initialize({
    dependencies: [{
      src: 'http://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/highlight/highlight.js', async: true, callback: function() {
        hljs.initHighlightingOnLoad();
      }
    }]
  });
  Reveal.configure({ progress: false });
  </script>
