<div class="reveal">
  <div class="slides">
    <section>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <h3>Build unique search experience</h3>
<!--             <%= link_to 'Content summary', '/content.html' %> -->
            <p class="text-left text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorem atque quae rerum, veniam praesentium. Quas delectus impedit accusantium nostrum eum quae quasi consequatur, incidunt hic, provident excepturi saepe nam.</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= image_tag "http://placehold.it/800x496", class: "img-rounded" %>
          </div>
        </div>
      </div></section>
    <section class="title-on-video">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class"text-left">Watch this video</h2>
          </div>
        </div>
        <div class="row">
           <div><video controls src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4"></video></div>
        </div>
      </div></section>
    <section class"text-and-text">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-6">
            <div class="text-area">
               <h3 class="text-left">Title text</h3>
                <p class="text-column">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo asperiores voluptas nihil deserunt veniam, incidunt, explicabo eligendi necessitatibus maxime delectus minima saepe, molestiae, laboriosam iusto quibusdam porro perspiciatis inventore voluptatum!</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-6">
            <div class="text-area">
              <h3 class='text-left'>Title text</h3>
              <p class="text-column" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo asperiores voluptas nihil deserunt veniam, incidunt, explicabo eligendi necessitatibus maxime delectus minima saepe, molestiae, laboriosam iusto quibusdam porro perspiciatis inventore voluptatum!</p>
            </div>
          </div>
        </div>
      </div></section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="text-left">Write your title</h3>
            </div></div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-6">
              <div class="text-area">
                <ul>
                  <li>
                    <p>test</p>
                  </li>
                  <li>
                    <p>test</p>
                  </li>
                  <li>
                    <p>test</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
              <div>
                <%= image_tag "http://placehold.it/800x496", class: "img-rounded" %>
              </div>
            </div></div>
        </div>
      </section>
      <section>
          <pre class="code-sample"><code data-trim data-noescape>
def module Math do
  def sum(a, b) do
    a + b
  end
end
          </code></pre>
      </section>
  </div>
</div>

 <script>
  Reveal.initialize({
    dependencies: [{
      src: 'http://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/highlight/highlight.js', async: true, callback: function() {
        hljs.initHighlightingOnLoad();
      }
    }]
  });
  Reveal.configure({ progress: false });
  </script>
